h1{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    background-color: orangered;
}

input[type="submit"]{
    background-color: bisque;
}

input[type="submit"]{
background-color: blue;
}
